<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Track Column -->
  <ng-container matColumnDef="track">
    <th mat-header-cell *matHeaderCellDef> Track </th>
    <td mat-cell *matCellDef="let element">
      <mat-expansion-panel [(expanded)]="element.isExpanded">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ element.name }}'s Player
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="player-container">
          <audio controls>
            <source [src]="element.track" type="audio/mp3">
            Your browser does not support the audio element.
          </audio>
        </div>
      </mat-expansion-panel>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>

<router-outlet></router-outlet>
